// Project uses Compass Reset
*, *::before, *::after
  +box-sizing(border-box)

[class$="container"]
  //+background-grid
  +clearfix
  max-width: 1000px
  margin: 0 auto
//----------------------------------------------------------------------
// Block Elements
//----------------------------------------------------------------------
html
  background-color: $black
  &.svg
    .no-svg
      display: none
  &.no-svg
    .svg
      display: none
body, html
  height: 100%
  margin: 0
  padding: 0
//----------------------------------------------------------------------
// Tables
//----------------------------------------------------------------------
table
  border-collapse: collapse
  width: 100%
  text-align: left
  +margin-trailer(4)
  tbody
    td
      padding: $default-padding / 2
//----------------------------------------------------------------------
// Forms
//----------------------------------------------------------------------
form
  label
    +font("light")
  .input
    +margin-trailer(4)
    label
      +margin-trailer(2)
      display: block
    .boolean
      +inline-block
      margin: 0
      padding: 0
      &[type="checkbox"]
        margin-right: $default-padding / 3
  input
    +adjust-font-size-to(20px)
    &[type="text"],
    &[type="password"],
    &[type^="date"],
    &[type="email"],
    &[type="search"],
    &[type="text"],
    &[type="time"]
      border: none
      height: $default-input-height
      line-height: $default-input-height
      +border-radius(0)
      background-color: $default-form-input-color
      +font("thin")
      padding: 0 rhythm(2)
      &:focus
        background-color: lighten($default-form-input-color, 50%)  
    &[type="submit"]
      +btn
      +margin-trailer(4)
  textarea
    background: none
    +border-radius(0)
    background-color: $default-form-input-color
  // Placeholder stylings
  ::-webkit-input-placeholder
    text-align: center
  :-moz-placeholder
    text-align: center 
  ::-moz-placeholder
    text-align: center 
  :-ms-input-placeholder  
    text-align: center
//----------------------------------------------------------------------
// Images
//----------------------------------------------------------------------
%svg-fill
  fill: $white
%img-cirlce
  +border-radius(100%)
//----------------------------------------------------------------------
// Typography -- See base/_typography.sass
//----------------------------------------------------------------------
