+font-face("Helvetica Condensed Black", font-files("helveticaneue/HelveticaNeue-CondensedBlack.eot", "helveticaneue/HelveticaNeue-CondensedBlack.ttf", "helveticaneue/HelveticaNeue-CondensedBlack.woff", "helveticaneue/HelveticaNeue-CondensedBlack.svg"))
+font-face("Helvetica Light", font-files("helveticaneue/HelveticaNeue-Light.eot", "helveticaneue/HelveticaNeue-Light.ttf", "helveticaneue/HelveticaNeue-Light.woff", "helveticaneue/HelveticaNeue-Light.svg"))
+font-face("Helvetica Thin", font-files("helveticaneue/HelveticaNeue-Thin.eot", "helveticaneue/HelveticaNeue-Thin.ttf", "helveticaneue/HelveticaNeue-Thin.woff", "helveticaneue/HelveticaNeue-Thin.svg"))
+font-face("Helvetica Ultra Light", font-files("helveticaneue/HelveticaNeue-UltraLight.eot", "helveticaneue/HelveticaNeue-UltraLight.ttf", "helveticaneue/HelveticaNeue-UltraLight.woff", "helveticaneue/HelveticaNeue-UltraLight.svg"))

=font($family: "condensed-black")
  @if $family == "condensed-black"
    font-family: "Helvetica Condensed Black"
  @if $family == "thin"
    font-family: "Helvetica Thin"
  @if $family == "light"
    font-family: "Helvetica Light"
  @if $family == "ultra light"
    font-family:  "Helvetica Ultra Light"

#{headings()}, th
  +font("condensed-black")
  text-transform: lowercase
  em
    color: $primary-color
$headers: (("1", 36px), ("2", 32px), ("3", 28px), ("4", 24px), ("5", 20px), ("6", 16px))
@each $header in $headers
  h#{nth($header, 1)}
    +adjust-font-size-to(nth($header, 2))
    small
      +adjust-font-size-to(nth($header, 2) * .8, 1, nth($header, 2))
      +font("light")
p.leader
  +breakpoint($sm-min-screen)
    +adjust-font-size-to(24px, 8)
  +breakpoint($lg-min-screen)
    +adjust-font-size-to(30px, 2)
  +font("thin")
p, a, li, td, small
  +font("light")
  strong
    +font("condensed-black")
p, ul, ol, blockquote
  +margin-trailer(4)
ul, ol
  margin-left: rhythm(8)
ul
  list-style: disc
ol
  list-style: decimal
blockquote
  padding-left: rhythm(8)
  +font("ultra light")
  +adjust-leading-to(6)
  border-left: rgba($black, .1) rhythm(6) solid