.layout--hero
  .container
    .masthead__headshot
      =image_tag('landing/headshot.png')
    .masthead__action-items
      %h2 <em>Kickers</em> Get Started
      %p.leader &amp; find the football team that's right for you.
      %small Signup for a 30 Day <em>Risk Free Trial</em>. No credit card required.
      
      %form
        .form-inputs
          %label{:for => "email"}
            Email
          %input{:email => "email", :placeholder => "enter your email for a free trial", :type => "text"}
        .form-actions
          %input{:type => "submit", :value => "Register"}

.layout--content__highlight
  .container
    %h1 
      Coaches,  
      =link_to "Find Kickers", static_path(:temp_find_kickers)