.masthead
  .container
    .headshot
      =image_tag('landing/headshot.png')
    .action-items
      %h2 <em>Kickers</em> Get Started
      %p.leader &amp; find the football team that's right for you.
      %small Signup for a 30 Day <em>Risk Free Trial</em>. No credit card required.
      
      %form
        .form-inputs
          %label{:for => "username"}
            Username
          %input{:name => "username", :placeholder => "username", :type => "text"}
          %label{:for => "password"}
            Password
          %input{:name => "username", :placeholder => "password", :type => "password"}
        .form-actions
          %input{:type => "submit", :value => "Register"}

.content__home
  .container
    %h1 
      Coaches,  
      =link_to "Find Kickers", "#"