.masthead
  .container
    .headshot
      =image_tag('landing/headshot.png')
    .action-items
      %h2 <em>Register</em> Today

.container
  %h1 Home#Index
  %p Landing page- Insert Josh Designer Magic Here
