//----------------------------------------------------------------------
// Grid Variables
//----------------------------------------------------------------------
$grids: 24
$gutters: .5
// $output: float

// TODO: adjust grid for separate platforms

// Breakpoints for responsive
$sm-min-screen: 320px
$sm-max-screen: 480px
$md-min-screen: 368px
$md-max-screen: 568px
$lg-min-screen: 768px
$lg-max-screen: 1024px

//----------------------------------------------------------------------
// Vertical Rhythm & Padding
//----------------------------------------------------------------------
$base-font-size: 16px
$base-line-height: 4px
$default-rhythm-border-style: solid

// Padding
$default-padding: rhythm(4)

// Forms
$default-input-height: rhythm(8)
$default-submit-height: rhythm(8)


//----------------------------------------------------------------------
// Color Palette
//----------------------------------------------------------------------
$black: #000
$white: #fff

//blue
$primary-color: #067dbd

// Text Colors
$default-header-color: $primary-color
$default-text-color: #72706f
$default-text-emphasis-color: darken($default-text-color, 10%)
$inverse-text-color: $white
$inverse-text-emphasis-color: darken($white, 10%)
$panel-text-color: $default-text-emphasis-color
$warning-text-color: #c09853
$error-text-color: #b94a48
$success-text-color: #468847
$info-text-color: #3a87ad

// Link colors
$standard-link: $primary-color
$inverse-link: $white

// Panels boxes and content
$panel-background-color: #68b5de
$panel-border-color: darken(adjust-hue($panel-background-color, -10), 3%)
$warning-background-color: #ffba00
$warning-border-color: darken(adjust-hue($warning-background-color, -10), 3%)
$error-background-color: #ff3900
$error-border-color: darken(adjust-hue($error-background-color, -10), 3%)
$success-background-color: #02517b
$success-border-color: darken(adjust-hue($success-background-color, -10), 5%)
$info-background-color: #d9edf7
$info-border-color: darken(adjust-hue($info-background-color, -10), 7%)

//----------------------------------------------------------------------
// Form Elements
//----------------------------------------------------------------------
$default-form-input-color: #ebebeb
$default-form-submit-color: $primary-color
$default-form-submit-hover-color: lighten($primary-color, 10%)
$default-submit-text-color: $white

//----------------------------------------------------------------------
// Sprites
//----------------------------------------------------------------------
$logos: sprite-map("logos/*.png")