[class$="footer"]
  background-color: $black
  height: rhythm(16)
  .copyright, li
    +font("light")
    +adjust-font-size-to(12px)
    +adjust-leading-to(20)
    color: $default-text-color
  .copyright
    +grid-span(12, 1)
  nav
    +grid-span(12, 13)
    ul
      +links(darken($inverse-link, 50%))
      +float(right)
      