[class$="--masthead"]
  width: 100%
  // TODO: Make this texture image smaller
  background: $black image-url("textures/dark-striped.jpg")
  +box-shadow(inset 0 0 rhythm(96) $black)
  position: relative
  +psuedo-border 
  
  +breakpoint($lg-min-screen)
    height: 486px
  
  [class$="headshot"], [class$="action-items"]
    // Fixes Chrome opacity bug
    +backface-visibility(hidden)
  
  [class$="headshot"]
    +breakpoint($sm-min-screen)
      display: none
    
    +breakpoint($lg-min-screen)
      +grid-span(9, 2)
      +margin-leader(16)
      display: block
    
  [class$="action-items"]
    h2
      color: $white
      +adjust-font-size-to(60px)
    p
      color: $white
    
    small
      color: rgba($white, .5)
      em
        color: $white
    
    form
      input:focus
        +box-shadow(0 0 20px complement($primary-color))
      label
        +visuallyhidden
    
    +breakpoint($sm-min-screen)
      +grid-span(4, 1)
      padding: rhythm(4)
      small
        margin: 0
      small, [class^="form"], input
        +margin-trailer(4)
        +grid-span(4,1,4)
      input
        +margin-trailer(2)
    
    +breakpoint($lg-min-screen)
      +grid-span(14, 11)
      +margin-leader(36)
      
      small
        +grid-span(14, 1, 14)
        display: block
      
      form
        +margin-leader(16)
        .form-inputs
          +grid-span(9, 1, 14)
          input
            +grid-span(9,1,9)
        .form-actions
          +grid-span(4,10,14)
          input
            +grid-span(4,1,4) 
      