.layout--content__about
  .content--container
    %h1 About <em>ikick.it</em>
    %p.leader The mission of ikick.it is to help college bound kickers find a great college fit.
    %p ikick.it is a subscription based online service that gives college bound kickers and punters the information they need to be successful in their quest to become college student athletes. 
    .panel
      %h2 ikick.it subscribers <em>receive:</em>
      %ol
        %li a list of colleges with football programs that they are academically qualified to attend;
        %li the competitive landscapes for those colleges;
        %li resources that help them market themselves to the coaches and recruiters of the teams of their choosing.

    %h3 Team
    .team--staff
      .panel
        =image_tag("head-shots/fred-johanns.jpg")
        %h4 Fred Johanns, III
        %p Co-Founder, Programmer<br>South Windsor, CT
      .panel
        =image_tag("head-shots/joshua-briley.jpg")
        %h4 Joshua K. Briley
        %p Co-Founder, Designer<br>Manchester, CT
      .panel
        =image_tag("head-shots/chase-briley.jpg")
        %h4 Chase Briley
        %p Research Assistant<br>Manchester, CT
    %h3 Partners
    .team--partners
      .panel
        =image_tag("head-shots/fred-johanns.jpg")
        %h4 Michael Husted
        %p Ex NFL Kicker, Coach<br>San Diego, CA
