.layout--content__static
  .content--container
    %h1 About <em>Us</em>
    %p If I'm curt with you it's because time is a factor. I think fast, I talk fast and I need you guys to act fast if you wanna get out of this. So, pretty please&hellip; with sugar on top. Clean the f@cking car.

    %table.striped
      %thead
        %tr
          %th Headshot
          %th Character Name
          %th Job Title
          %th Coolest Quote
      %tbody
        %tr
          %td=image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/j.jpg")
          %td Jules
          %td Hit Man
          %td
            %q English MF'er. Do you speak it?
        %tr 
          %td=image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/vv.jpg")
          %td Vincent
          %td Hit Man
          %td 
            %q Royal with Cheese
        %tr
          %td=image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/mw.jpg")
          %td Marsallus
          %td Loan Shark
          %td 
            %q I'm about to git midevil on your ass
        %tr
          %td=image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/ck.jpg")
          %td CPT Koons
          %td Air Force Captain
          %td
            %q I hid this uncomfortable piece of metal up my ass for two years.
        %tr
          %td=image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/miaw.jpg")
          %td Mia Wallace
          %td Seductress Wife of Loan Shark
          %td
            %q Can you roll me one of those, Cowboy?