.layout--content__static
  .container
    %h1 Pricing <em>Options</em>

    %table.pricing
      %thead 
        %tr
          %th(scope="col")
          %th(scope="col") Free Plan
          %th(scope="col") Silver Plan
          %th(scope="col") Gold Plan
      %tfoot
        %tr
          %th(scope="row") Monthly Cost
          %td 
            .price $0.00
            =link_to "Sign Up", "#", :class => "btn"
          %td 
            .price $4.99
            =link_to "Sign Up", "#", :class => "btn"
          %td 
            .price $9.99
            =link_to "Sign Up", "#", :class => "btn"
      %tbody 
        %tr 
          %th(scope="row") Cool Feature
          %td
            %i.fa.fa-check-circle
          %td
            %i.fa.fa-check-circle
          %td
            %i.fa.fa-check-circle
        %tr 
          %th(scope="row") Awesome Feature
          %td
            %i.fa.fa-check-circle
          %td
            %i.fa.fa-check-circle
          %td
            %i.fa.fa-check-circle
        %tr 
          %th(scope="row") Majorly Cool Thing
          %td
          %td
            %i.fa.fa-check-circle
          %td
            %i.fa.fa-check-circle
        %tr 
          %th(scope="row") Marginally OK Item
          %td
          %td
          %td
            %i.fa.fa-check-circle
        %tr 
          %th(scope="row") Thing You Don't Need, But Want 
          %td
          %td
          %td
            %i.fa.fa-check-circle