.layout--content__find-kicker
  .content--container
    %h1 Kickers &amp; Punters <em>for 2014</em>
    %h2 Top 4 <em>Kickers</em>
    .find-kicker--headshot__kicker
      - 1.upto(4) do |i|
        .panel
          =image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/j.jpg")
          %h3 Joe <em>Smith</em>
          .kicker--rating
            Rating: 
            - 1.upto(3) do |s|
              %i.fa.fa-star
          =link_to "View Bio", "#"
    %h2 Top 4 <em>Punters</em>
    .find-kicker--headshot__punter
      - 1.upto(4) do |i|
        .panel
          =image_tag("https://dl.dropboxusercontent.com/u/39806773/ikickit/mugshots/j.jpg")
          %h3 Chase <em>Briley</em>
          .punter--rating
            Rating: 
            - 1.upto(3) do |s|
              %i.fa.fa-star
          =link_to "View Bio", "#"
      