.panel
  background-color: $panel-background-color
  border: $panel-border-color 1px solid
  padding: $default-padding
  [class$="__auth"] &
    background-color: rgba($black, .02)
    border: rgba($black, .05) 1px solid