table
  &[class*="striped"]
    border: rgba($primary-color, .03) 1px solid
    td, th
      border-bottom:  rgba($primary-color, .03) 1px solid
    thead
      tr
        background-color: rgba($primary-color, .3)
      th
        padding: $default-padding $default-padding / 2
    tr:nth-child(2n)
      td
        background-color: rgba($primary-color, .01)
  
  &[class*="pricing"]
    border: lighten($black, 98%) rhythm(4) solid
    background-color: lighten($black, 98%)
    text-align: center
    thead th,
    tfoot td
      padding: rhythm(2) 0
      color: $white
      +adjust-font-size-to(32px)
      border-right: 1px solid rgba($white, .3)
      text-align: center
    tfoot 
      th
        padding: rhythm(2) rhythm(4)
        color: $black
        text-align: right
      td
        color: $white
        border-top: none
        +font("condensed-black")
        text-align: center
        background-color: lighten($black, 10%)
        [class^="btn"]
          +adjust-font-size-to(20px, 1, 32px)
          +margin-leader(2)
          +btn
    thead
      text-align: center
      th:empty
        background: transparent
        +box-shadow(none)
      &:last-child(1)
        border-right: none
      th
        background-color: $primary-color
    thead :first-child,
    tbody :nth-last-child(1)
      border: none
    tbody 
      th
        text-align: right
        padding: rhythm(2) rhythm(4)
        color: #333
        background-color: lighten($primary-color, 62%)
        +font("light")
        text-transform: none
      td
        padding: 10px
        background-color: darken($white, 5%)
        border-right: 1px dotted #999
        color: #333
        text-align: center
        width: rhythm(56)
      i
        +adjust-font-size-to(24px)
        color: complement($primary-color)